@tailwind base;
@tailwind components;
@tailwind utilities;

.invisible-to-visible {
  opacity: 0; /* Initially invisible */
  animation: fadeIn 1s ease-in-out 0.1s forwards; /* Fade in after 0.1 seconds */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
  }
}


.sign-in-btn {
  @apply py-5 px-10 bg-[#4aad52] hover:bg-[#3a8841] text-gray-100 text-lg rounded-md 
}

.submit-btn {
  @apply block mx-auto mt-8 bg-[#4aad52] hover:bg-[#3a8841] text-gray-100 py-2 px-3 rounded-md
}

button:disabled {
  @apply bg-gray-400 hover:bg-gray-400 cursor-not-allowed
}

input {
  @apply py-1 px-2 text-gray-800 rounded mb-6 bg-gray-100
}