@tailwind base;
@tailwind components;
@tailwind utilities;

.invisible-to-visible {
  opacity: 0; /* Initially invisible */
  animation: fadeIn 1s ease-in-out 0.1s forwards; /* Fade in after 0.1 seconds */
}

@keyframes fadeIn {
  0% {
    opacity: 0; /* Start with opacity 0 */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
  }
}